# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3

# Virtual Environments
venv/
env/

# Media uploads
media/

# IDE
.vscode/
.idea/

# Environment variables
.env

# OS files
Thumbs.db
.DS_Store
all_data.json
