body{
    font-family:'Poppins',sans-serif;
    background:#f8fafc;
}

.navbar{
    padding:15px 0;
}

.nav-link{
    font-weight:500;
    margin-left:12px;
}

.hero{
    padding:90px 0;
}

.hero h1{
    color:#14532D;
}

.hero-image{
    max-height:500px;
}

.btn-success{
    background:#14532D;
    border:none;
}

.btn-success:hover{
    background:#0f3d21;
}

.category-card{
    border:none;
    border-radius:18px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.3s;
}

.category-card:hover{
    transform:translateY(-8px);
}